body {
    max-width: 500px;
    margin: 0 auto;
}

main {
    background-color: rgb(235, 235, 235);
}

input {
    background-color: rgb(189, 189, 189);
    border: none;
}

.result {
    margin:1rem;
    border: solid black 1px;
}